@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dcdde1;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

main {
    width: 17.5rem;
    height: 27.5rem;
    border-radius: 1.125rem;
    background-color: #fff;
}

.qr-code img {
    border-radius: 0.875rem;
    width: 90%;
    margin: 0.938rem;
    margin-right: 0.938rem;
    place-items: center;
}

.header {
    text-align: center;
}
.header h1 {
    font-size: 1.125rem;
    margin: 1.25rem;
    margin-bottom: 0.938rem;
}
.header p {
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: 600;
    margin: 0.75rem;
    color:#7d8796 ;
}